<html>
  <form>
    <div style="text-align-last: right; padding-right: 45%">
      <h1>Update Books</h1>
      <input
        style="text-align-last: start"
        type="hidden"
        name="book_id"
        id="book_id"
        value="{{ data.book_id }}"
        #book_id
      /><br />
      <label><b>Book Name</b></label
      >&nbsp;&nbsp;&nbsp;&nbsp;
      <input
        style="text-align-last: start"
        type="text"
        name="name"
        id="name"
        #bookName
        value="{{ data.title }}"
      /><br />
      <label><b>Author Name</b></label
      >&nbsp;
      <input
        style="text-align-last: start"
        type="text"
        name="authorName"
        id="authorName"
        value="{{ data.author_name }}"
        #authorName
      /><br />

      <label><b>price</b></label
      >&nbsp;
      <input
        style="text-align-last: start"
        type="text"
        name="price"
        id="price"
        value="{{ data.price }}"
        #price
      /><br /><br />
      <button
        type="submit"
        style="margin-right: 6%"
        (click)="
          Update(book_id.value, bookName.value, authorName.value, price.value)
        "
      >
        Update
      </button>
      <button type="button" style="margin-right: 15px">
        <a routerLink="/home" style="text-decoration: none; color: black"
          >Back</a
        >
      </button>
    </div>
  </form>
</html>
